@media (max-width: 768px) {
  #navbar {
    position: relative;
    width: 100%;
    text-align: center;
  }

  #main-doc {
    margin-left: 0;
    padding: 20px;
  }

.nav-link {
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  color: green;
  padding: 8px 12px;
  display: block;
  border-bottom: 1px solid black;

}
html{background-color: #c8c193;}
body{font-size: 1.5em;}
}


