
#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


#img-div {
  text-align: center;
}


#tribute-info {
  margin: 20px auto;
  max-width: 600px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
h1{font-family: Arial, sans-serif; text-align: center;}

#tribute-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  color: Red;
}
#img-caption{font-size: 1.5em; font-style: italic;}

#tribute-link:hover {
  text-decoration: underline;
}

body {font-size: 1.5em;
      color: white;}

html {background-color: black;}